<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
    http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

	<display-name>nutz-beetl-alt2</display-name>
	<description>Use Nutz Framework, beetl template engine, AdminLTE2 bootstrap.</description>

	<listener>
		<listener-class>org.nutz.mvc.NutSessionListener</listener-class>
	</listener>

	<filter>
		<filter-name>NutzMVCFilter</filter-name>
		<filter-class>org.nutz.mvc.NutFilter</filter-class>
		<init-param>
			<param-name>modules</param-name>
			<param-value>
                io.github.elkan1788.osc.adminlte2.MainModule
            </param-value>
		</init-param>
		<init-param>
			<param-name>ignore</param-name>
			<param-value>
                ^(.+[.])(jsp|png|gif|jpg|js|css|jspx|jpeg|html)$
            </param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>NutzMVCFilter</filter-name>
		<url-pattern>*.ntz</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
	</filter-mapping>

	<filter-mapping>
		<filter-name>NutzMVCFilter</filter-name>
		<url-pattern>*.htm</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
	</filter-mapping>

	<session-config>
		<session-timeout>60</session-timeout>
	</session-config>

	<welcome-file-list>
		<welcome-file>login.html</welcome-file>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
